// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #606c38;
$secondary : #283618;
$accent    : #fefae0;

$dark      : #001219;
$dark-page : #000814;

$positive  : #dda15e;
$negative  : #bc6c25;
$info      : #a8dadc;
$warning   : #fca311;

$white     : #ffffff;
$black     : #000000;
$grey      : #b8b8b8;
$dark-grey : #333333;
$light-grey: #f0f0f0;
