.app {
    &-card-glass {
        background: rgba(255, 252, 252, 0.19);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 252, 252, 0.06);
        color: $white;
    }


}